.header {
  padding: 30px 88px;
  background-color: #aa0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menuBtn {
  display: none;
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 512px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu li {
  padding: 10px 0;
}

.menu li a {
  color: white;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
    padding: 30px 48px;
  }
  .menu {
    max-width: 575px;
  }
}

@media (max-width: 575px) {
  .header {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header h1 img {
    width: 48px;
    height: 30px;
    padding-bottom: 3px;
  }
  .menuBtn {
    display: block;
    position: absolute;
    left: 13px;
    width: 24px;
  }
  .menu {
    max-height: 0px;
    right: -5%;
    top: 83%;
    width: 110%;
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    z-index: 120;
  }
  .menu.active {
    max-height: 252px;
  }
  .menu li {
    display: block;
    background: #aa0601;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 16px 0;
    z-index: 120;
    width: 100%;
  }
  .menu li:hover {
    background: #8f0400;
  }
}

.banner {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  height: 840px;
  background-size: cover;
  background-position: center center;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
  height: 100%;
}

.banner-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slogan {
  font-size: 64px;
  color: #650300;
  font-weight: 500;
  text-align: right;
}

.slogan-sm {
  font-size: 36px;
}

@media (max-width: 768px) {
  .container {
    max-width: 696px;
  }
  .slogan {
    font-size: 48px;
  }
  .slogan-sm {
    font-size: 20px;
  }
}

@media (max-width: 568px) {
  .banner {
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
    height: 568px;
  }
  .slogan {
    font-size: 32px;
    line-height: 45px;
  }
  .slogan-sm {
    font-size: 16px;
    line-height: 30px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list a {
  display: block;
  margin-right: 3rem;
}

.title {
  font-size: 3rem;
  padding-top: 4rem;
  padding-bottom: 3.75rem;
  color: #650300;
  font-weight: bolder;
  text-align: center;
}

.footer-nav p {
  font-size: 2.25rem;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
}

/* .footer-nav p:nth-last-child() {
      font-size: 1rem;
    } */
.footer-nav:first-child {
  margin-bottom: 1.5rem;
}

.footer-nav-map li {
  margin-right: 3rem;
}

.footer-nav-info li {
  margin-bottom: 1rem;
}

.footer-nav-map li:last-child {
  margin-right: 0;
}

.footer-nav:first-child ul:last-child li {
  margin-right: 2rem;
}

.footer-nav:first-child ul:last-child li:last-child {
  margin-right: 0rem;
}

.footer-nav img {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
  .footer-nav:first-child img {
    width: 24px;
  }
  .footer-nav-map li {
    margin-right: 2.5rem;
  }
  .footer-nav:first-child ul:last-child li {
    margin-right: 1.5rem;
  }
  .footer-nav-info li:nth-child(1) img {
    width: 23px;
  }
  .footer-nav-info li:nth-child(2) img {
    width: 32px;
  }
  .footer-nav p {
    font-size: 1.25rem;
  }
  .footer-nav p:last-child {
    font-size: 1rem;
  }
  .footer-nav:last-child ul:last-child li img {
    display: none;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  .footer {
    padding: 1.5rem 0;
  }
  .footer-nav:first-child {
    display: none;
  }
  /* .footer-nav-info li:nth-child(2) {
        padding-bottom: 1rem;
        margin-bottom: 1rem
      } */
  .footer-nav-info li:nth-child(1) img {
    width: 13px;
  }
  .footer-nav-info li:nth-child(2) img {
    width: 20px;
  }
  .footer-nav-info li:nth-child(3) img {
    width: 46px;
    height: 28px;
  }
  .footer-nav p {
    font-size: 1rem;
  }
  .footer-nav-info p {
    font-size: 1rem;
  }
  .footer-nav-info p:last-child {
    font-size: 0.875rem;
  }
  .footer-nav-info li img:last-child {
    display: block;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 352px;
  }
}

@media (max-width: 568px) {
  .container {
    max-width: 352px;
  }
}

.content {
  padding: 64px 0;
  background-color: #aa06010d;
}

@media (max-width: 768px) {
  .content {
    padding: 40px 0;
  }
}

@media (max-width: 568px) {
  .content {
    padding: 32px 0;
  }
}

.content h2,
h3,
p {
  line-height: 1.5;
}

.content h2,
h3 {
  color: #650300;
}

.content h2 {
  margin-bottom: 44px;
  font-size: 48px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .content h2 {
    margin-bottom: 12px;
    font-size: 32px;
  }
}

@media (max-width: 568px) {
  .content h2 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 2;
  }
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
}

.content p {
  font-size: 16px;
}

.content h2 {
  text-align: center;
}

.cards {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 100px;
}

@media (max-width: 768px) {
  .cards {
    padding: 16px 0;
  }
}

@media (max-width: 568px) {
  .cards {
    padding: 0 0 16px 0;
  }
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .card-item {
    padding: 20px 0 8px;
    width: 50%;
  }
}

@media (max-width: 568px) {
  .card-item {
    padding: 20px 0 8px;
    width: 100%;
    min-width: 352px;
  }
}

.card-item .card-icon {
  height: 100px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .card-item .card-icon {
    padding-bottom: 16px;
  }
}

@media (max-width: 568px) {
  .card-item .card-icon {
    padding-bottom: 16px;
  }
}

.card-item img {
  display: block;
  width: auto;
  height: 100px;
  margin: 0 auto;
}

.container h3 {
  padding-bottom: 4px;
  padding-left: 20px;
  margin-top: 40px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .card-itemh3 {
    padding-bottom: 8px;
  }
}

@media (max-width: 568px) {
  .card-item h3 {
    padding-bottom: 4px;
  }
}

.card-item p {
  text-align: left;
  max-width: 300px;
}

.margin-b {
  margin-bottom: 32px;
}

.h2-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

.classic {
  padding: 64px 0 80px 0;
}

.classic-optical,
.classic-functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.classic-sunglasses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.classic-photo {
  width: 792px;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.classic-icon {
  width: 48px;
  margin-right: 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.classic-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  font-style: italic;
  color: #aa0601;
}

.optical-photo {
  background-image: url(https://i.ibb.co/PTWrkhd/product-1.png);
  margin-right: 24px;
}

.sunglasses-photo {
  background-image: url(https://i.ibb.co/HFgyzRF/product-2.png);
  margin-left: 24px;
}

.functional-photo {
  background-image: url(https://i.ibb.co/9H6M8vJ/product-3.png);
  margin-right: 24px;
}

.diamond {
  background-image: url(https://svgshare.com/i/KYc.svg);
}

.sun {
  background-image: url(https://svgshare.com/i/KZA.svg);
}

.thunder {
  background-image: url(https://svgshare.com/i/KX8.svg);
}

@media (max-width: 992px) {
  .h2-title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .margin-b {
    margin-bottom: 8px;
  }
  .classic {
    padding: 40px 0 40px 0;
  }
  .classic-optical,
  .classic-functional {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 5%;
  }
  .classic-sunglasses {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 5%;
  }
  .sunglasses-photo {
    margin-left: 0px;
    margin-right: 24px;
  }
  .classic-photo {
    max-width: 411px;
    max-height: 168px;
  }
  .product-name {
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .classic-icon {
    max-width: 32px;
  }
  .classic-text {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .h2-title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .classic {
    padding: 24px 0 24px 0;
  }
  .classic-photo {
    display: none;
  }
  .classic-optical {
    background-image: url(https://i.ibb.co/PTWrkhd/product-1.png);
  }
  .classic-sunglasses {
    background-image: url(https://i.ibb.co/HFgyzRF/product-2.png);
  }
  .classic-functional {
    background-image: url(https://i.ibb.co/9H6M8vJ/product-3.png);
  }
  .classic-m {
    height: 134px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .classic-optical,
  .classic-functional {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
  }
  .classic-sunglasses {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
  }
  .product-name {
    width: 100%;
  }
  .classic-text {
    color: #ffffff;
  }
  .diamond {
    background-image: url(https://svgshare.com/i/KXf.svg);
  }
  .sun {
    background-image: url(https://svgshare.com/i/KZD.svg);
  }
  .thunder {
    background-image: url(https://svgshare.com/i/KYY.svg);
  }
}

.contact {
  background-color: #aa06010d;
}

.container {
  max-width: 792px;
  margin: 0 auto;
  padding: 64px 0 92px 0;
}

.sectionTitle {
  margin-bottom: 24px;
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
}

.contactText {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

input[type="text"],
textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #000;
  background-color: transparent;
}

textarea {
  resize: none;
  height: 136px;
}

::-webkit-input-placeholder,
input[type="submit"],
lebal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

:-ms-input-placeholder,
input[type="submit"],
lebal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

::-ms-input-placeholder,
input[type="submit"],
lebal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

::placeholder,
input[type="submit"],
lebal {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding-left: 4px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "\2714";
  border: 1px solid #000;
  border-radius: 10%;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 1px 0 1px 3px;
  margin-right: 8px;
  color: transparent;
}

input[type="checkbox"]:checked + label:before {
  background-color: #aa0601;
  border-color: #aa0601;
  color: #fff;
}

.submit {
  margin-top: 42px;
  text-align: center;
}

input[type="submit"] {
  padding: 16px 58px;
  cursor: pointer;
  border: none;
  background: #aa0601;
  color: #fff;
}

input[type="submit"]:hover {
  background: #650300;
}

@media (max-width: 768px) {
  .container {
    max-width: 498px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 327px;
  }
}

.text-bolder {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.title3 {
  font-size: 36px;
}

.text-p {
  font-size: 16px;
}

.title4 {
  font-size: 20px;
}

.text-primary {
  color: #650300;
}

/* .text-secondary{
      color: #AA0601;
    } */
.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-dark {
  background-color: #aa0601;
  color: white;
}

.bg-light {
  background-color: #aa06010d;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-10 {
  padding-bottom: 5rem;
}

@media (max-width: 768px) {
  .pb-10 {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 375px) {
  .pb-10 {
    padding-bottom: 1.5rem;
  }
}

.mb-1 {
  margin-bottom: 0.5rem;
}

@media (max-width: 375px) {
  .mb-1 {
    margin-bottom: 0.125rem;
  }
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mr-1 {
  margin-right: 8px;
}

@media (max-width: 375px) {
  .mr-1 {
    margin-right: 0.125rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 672px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 352px;
  }
}

.bannerLocation {
  padding-top: 214px;
  background-image: url(../img/72.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-container {
  max-width: 1224px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bannerLocation h2 {
  font-size: 64px;
  line-height: 90px;
  margin-right: 24px;
}

.locationsList {
  padding: 16px 154px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.locationsList select {
  height: 45px;
  width: 266px;
  padding-left: 19px;
  font-size: 18px;
  margin-bottom: 32px;
  color: #495057;
  margin-left: 22px;
  cursor: pointer;
}

.locationsList option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
}

.locationsListShop {
  border: 1px solid #00000020;
  width: 1224px;
  height: auto;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.locationsList .locationsListShop li {
  width: 33.2%;
  margin-bottom: 28px;
}

.locationsList .locationsListShop h3 {
  padding: 24px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #00000020;
  margin-bottom: 16px;
  color: #000;
}

.locationsList .locationsListShop p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}

.locationsList .locationsListShop .iconTel {
  max-width: 26px;
  display: inline-block;
  padding-left: 10%;
}

.locationsList .locationsListShop .iconClock {
  max-width: 26px;
  display: inline-block;
  padding-left: 10%;
}
/*# sourceMappingURL=all.css.map */