// banner start 
.banner{
   background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
   height: 840px;
   background-size: cover;
   background-position: center center;
}
.container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
  height: 100%;
}
.banner-title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.slogan {
  font-size: 64px;
  color: #650300;
  font-weight: 500;
  text-align: right;
}
.slogan-sm {
  font-size: 36px;
}
// banner RWD start
@media (max-width:768px){
  .container {
    max-width: 696px;
  }
  .slogan {
    font-size: 48px;
  }
  .slogan-sm {
    font-size: 20px;
  }
}
@media (max-width:568px){
  .banner {
     background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
    height: 568px;
  }
  .slogan {
    font-size: 32px;
    line-height: 45px;
  }
  .slogan-sm {
    font-size: 16px;
    line-height: 30px;
  }
}
// banner rwd end