//footer start
.footer {
     
    }

    .footer-list {
      display: flex;
      align-items: center;
    }

    .footer-list a {
      display: block;
      
      margin-right: 3rem;
    }

    .title {
      font-size: 3rem;
      padding-top: 4rem;
      padding-bottom: 3.75rem;
      color: #650300;
      font-weight: bolder;
      text-align: center;
    }

    .footer-nav p {
      font-size: 2.25rem;
    }
    .footer-nav a {
      color: #fff;
      text-decoration: none;
    }
    /* .footer-nav p:nth-last-child() {
      font-size: 1rem;
    } */

    .footer-nav:first-child {
      margin-bottom: 1.5rem;
    }

    .footer-nav-map li {
      margin-right: 3rem;
    }


    .footer-nav-info li {
      margin-bottom: 1rem;
    }

    .footer-nav-map li:last-child {
      margin-right: 0;
    }

    .footer-nav:first-child ul:last-child li {
      margin-right: 2rem;
    }

    .footer-nav:first-child ul:last-child li:last-child {
      margin-right: 0rem;
    }

    .footer-nav img {
      margin-right: 1rem;
    }


    @media (max-width: 768px) {
      .title {
        font-size: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2rem;
      }

      .footer-nav:first-child img {
        width: 24px;
      }

      .footer-nav-map li {
        margin-right: 2.5rem;
      }

      .footer-nav:first-child ul:last-child li {
        margin-right: 1.5rem;
      }

      .footer-nav-info li:nth-child(1) img {
        width: 23px;
      }

      .footer-nav-info li:nth-child(2) img {
        width: 32px;
      }


      .footer-nav p {
        font-size: 1.25rem;
      }

      .footer-nav p:last-child {
        font-size: 1rem;
      }

      .footer-nav:last-child ul:last-child li img {
        display: none;
      }
    }

    @media (max-width: 375px) {
      .title {
        font-size: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
      }

      .footer {
        padding: 1.5rem 0;
      }

      .footer-nav:first-child {
        display: none;
      }

      /* .footer-nav-info li:nth-child(2) {
        padding-bottom: 1rem;
        margin-bottom: 1rem
      } */

      .footer-nav-info li:nth-child(1) img {
        width: 13px;
      }

      .footer-nav-info li:nth-child(2) img {
        width: 20px;
      }

      .footer-nav-info li:nth-child(3) img {
        width: 46px;
        height: 28px;
      }

      .footer-nav p {
        font-size: 1rem;
      }

      .footer-nav-info p {
        font-size: 1rem;
      }

      .footer-nav-info p:last-child {
        font-size: 0.875rem;
      }

      .footer-nav-info li img:last-child {
        display: block;
      }
    }
    //footer end