@import "header";
@import "banner";
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Microsoft JhengHei”, Roboto, “Helvetica Neue”, Arial,
    sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

// content start
.container {
  max-width: 1224px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 352px;
  }
}
@media (max-width: 568px) {
  .container {
    max-width: 352px;
  }
}

.content {
  padding: 64px 0;
  background-color: #aa06010d;
}
@media (max-width: 768px) {
  .content {
    padding: 40px 0;
  }
}
@media (max-width: 568px) {
  .content {
    padding: 32px 0;
  }
}

.content h2,
h3, p {
  line-height: 1.5;
}
.content h2,
h3 {
  color: #650300;
}
.content h2 {
  margin-bottom: 44px;
  font-size: 48px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .content h2 {
    margin-bottom: 12px;
    font-size: 32px;
  }
}
@media (max-width: 568px) {
  .content h2 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 2;
  }
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
}
.content p {
  font-size: 16px;
}
.content h2 {
  text-align: center;
}
.cards {
  text-align: center;
  display: flex;
  padding: 16px 0;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 768px) {
  .cards {
    padding: 16px 0 ;
  }
}
@media (max-width: 568px) {
  .cards {
    padding: 0 0 16px 0;
  }
}
.card-item {
  display: flex;
  padding: 16px 0 24px;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
@media (max-width: 768px) {
  .card-item {
    padding: 20px 0 8px;
    width: 50%;
    
  }
}
@media (max-width: 568px) {
  .card-item {
    padding: 20px 0 8px;
    width: 100%;
    min-width: 352px;
  }
}

.card-item .card-icon {
  height: 100px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .card-item .card-icon {
    padding-bottom: 16px;
  }
}
@media (max-width: 568px) {
  .card-item .card-icon{
    padding-bottom: 16px;
  }
}
.card-icon img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}
.card-icon h3{
  padding-bottom: 4px;
}
@media (max-width:768px){
  .card-icon h3 {
    padding-bottom: 8px;
  }
}
@media (max-width:568px){
  .card-icon h3 {
    padding-bottom: 4px;
  }
}

.card-icon p {
  text-align: left;
  max-width: 300px;
}