@import "header"; //表頭
@import "banner";
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// content start
.container {
  max-width: 1224px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: 352px;
  }
}
@media (max-width: 568px) {
  .container {
    max-width: 352px;
  }
}

.content {
  padding: 64px 0;
  background-color: #aa06010d;
}
@media (max-width: 768px) {
  .content {
    padding: 40px 0;
  }
}
@media (max-width: 568px) {
  .content {
    padding: 32px 0;
  }
}

.content h2,
h3,
p {
  line-height: 1.5;
}
.content h2,
h3 {
  color: #650300;
}
.content h2 {
  margin-bottom: 44px;
  font-size: 48px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .content h2 {
    margin-bottom: 12px;
    font-size: 32px;
  }
}
@media (max-width: 568px) {
  .content h2 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 2;
  }
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
}
.content p {
  font-size: 16px;
}
.content h2 {
  text-align: center;
}
.cards {
  text-align: center;
  display: flex;
  padding: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 100px;
}
@media (max-width: 768px) {
  .cards {
    padding: 16px 0;
  }
}
@media (max-width: 568px) {
  .cards {
    padding: 0 0 16px 0;
  }
}
.card-item {
  display: flex;
  padding: 16px 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .card-item {
    padding: 20px 0 8px;
    width: 50%;
  }
}
@media (max-width: 568px) {
  .card-item {
    padding: 20px 0 8px;
    width: 100%;
    min-width: 352px;
  }
}

.card-item .card-icon {
  height: 100px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .card-item .card-icon {
    padding-bottom: 16px;
  }
}
@media (max-width: 568px) {
  .card-item .card-icon {
    padding-bottom: 16px;
  }
}
.card-item img {
  display: block;
  width: auto;
  height: 100px;
  margin: 0 auto;
}
.container h3 {
  padding-bottom: 4px;
  padding-left: 20px;
  margin-top: 40px;
  font-weight: 900;
}
@media (max-width: 768px) {
  .card-itemh3 {
    padding-bottom: 8px;
  }
}
@media (max-width: 568px) {
  .card-item h3 {
    padding-bottom: 4px;
  }
}

.card-item p {
  text-align: left;
  max-width: 300px;
}
// content end
// 經典鏡框start

.diamond {
  background-image: url(https://svgshare.com/i/KYc.svg);
}
.sun {
  background-image: url(https://svgshare.com/i/KZA.svg);
}

.optical-photo {
  background-image: url(https://i.ibb.co/PTWrkhd/product-1.png);
  margin-right: 24px;
}
.sunglasses-photo {
  background-image: url(https://i.ibb.co/HFgyzRF/product-2.png);
  margin-left: 24px;
}
.classic {
  padding: 64px 0 80px 0;
  margin-bottom: 32px;
}
.h2-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}
.classic-optical {
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}
.classic-photo {
  width: 792px;
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;

  margin-right: 24px;
}
.product-name {
  display: flex;
}
.classic-icon {
  width: 48px;
  margin-right: 8px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.classic-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  font-style: italic;
  color: #aa0601;
}
.classic-sunglasses {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 0px;
  margin-right: 24px;
}
