* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-content-space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pore {
  position: relative;
}

.container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1199px) {
  .menu {
    display: none;
  }
  .container {
    width: 100%;
  }
  .car_title img {
    width: 50%;
    margin: auto;
  }
}

body {
  margin: 0;
  background-image: url(./image/bg.png);
  width: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  background-size: cover;
  background-position: center;
}

#nav {
  width: 100%;
  height: 50px;
  background-image: url(./image/nav_bg.png);
  position: relative;
}

#nav .logo {
  padding: 10px 10px 0 22px;
  width: 220px;
  background-color: #fff;
  border-radius: 50%;
}

#nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0 0 0;
}

#nav .menu ul li {
  padding-right: 10px;
}

select {
  background-color: #000;
  color: #fff;
  margin-bottom: 3px;
}

.car_content {
  margin: 30px 0 0 13px;
  padding: 26px 0 0 0;
}

.car_content img {
  width: 100%;
}

.login_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login {
  padding-right: 10px;
}

.login input {
  width: 100%;
  margin-bottom: 20px;
  color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_btn .btn {
  width: 90px;
  height: 70px;
  border-radius: 15px;
  background-image: url(./image/login.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.login_btn .btn:hover {
  opacity: .7;
}

@media (max-width: 1199px) {
  .login_item {
    top: 50%;
  }
}

@media (max-width: 960px) {
  .login_item {
    top: 50%;
  }
}

.product {
  width: 100%;
  margin-top: 65px;
  padding: 0 0 0 22px;
}

.product_img {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -o-object-fit: cover;
     object-fit: cover;
}

.product_img_1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

.product_img_2:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.product_img_3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .8s ease-in;
  transition: all .8s ease-in;
}

@media (max-width: 568px) {
  .product {
    padding: 0;
  }
  .product_img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 300px;
    overflow: hidden;
  }
}

.introduction {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./image/footer1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.introduction p {
  line-height: 1.5;
  padding: 10px 30px 0 0;
  color: #fff;
}

footer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

footer p {
  color: #aaa;
  padding: 10px;
}

.service {
  width: 55px;
  height: 55px;
  position: fixed;
  top: 250px;
  right: 0;
}
/*# sourceMappingURL=all.css.map */